<%- include('../layouts/admin-header.ejs') %>

<div class="dash-content container add">
    <h2 class="page-title">Add a Product</h2>
    <a href="/admin/product" class="btn"><i class="fa fa-angle-left"></i></a>
        
    <br><br>
    <div class="row">
        <form id="add-edit" method="post" action="/admin/product/add-product" enctype="multipart/form-data">
            <% error.forEach(function(err){ %>
                <div class="alert alert-success" role="alert">
                    <%= err %>
                </div>
              <%})%>
            <div class="form-group">
                <input id="title" type="text" class="box" name="title" value="<%= title %>" placeholder="Title">
            </div> 
            <div class="form-group">
                <textarea id="description" type="text" class="box" cols="30" rows="10" name="description" value="<%= description %>" placeholder="description"></textarea>
            </div>
            <div class="form-group">
                <select id="category"  class="box" name="category" value="" placeholder="category">
                        <option value="">category</option>
                    <% categories.forEach(function(cat){%>
                        <option value="<%= cat.title %>"><%= cat.title %></option>
                        <%});%>
                </select>
            </div>
            <div class="form-group">
                <input id="image" type="file" class="box" name="image">
                <img src="#" id="img-prvw" alt="">
            </div>
            <div class="form-group d-flex">
                <div class=" pe-5">
                    <input type="checkbox" name="special" id="special" value="true">
                <label class="h4" for="special">Special</label>
                </div>
                <div>

                    <input type="checkbox" name="vegan" id="vegan" value="true">
                    <label class="h4" for="vegan">Vegan</label>
                </div>
            </div>
            <div class="form-group">
                <input id="price" type="number" class="box" name="price" value="<%= price %>" placeholder="price in rupees">
            </div>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
    
</section>


<%- include('../layouts/admin-footer.ejs') %>