<%- include('../layouts/admin-header.ejs') %>


<div class="container">
    <a href="/admin/banner/add-banner" ><button class="btn btn-primary">Add new banner</button> </a>

    <% success.forEach(function(msg){ %>
        <div class="alert alert-success" role="alert">
            <%= msg %>
        </div>
      <%})%>


    <div class="row  ">
        <% banners.forEach(function(bnr){ %>
            <div class="col m-auto">
                <div class="card mx-5 my-2" style="width: 30rem;">
                    <img class="card-img-top" src="public/images/banner-img/<%= bnr.banner%>" alt="Banner-img">
                    <div class="card-body">
                        <h3><%=bnr.category%></h3>
                      <h5 class="card-title"><%=bnr.title%></h5>
                      <p class="card-text"><%=bnr.caption%></p>

                      <a class="confirmDeletion btn" href="/admin/banner/delete/<%=bnr._id%>">Delete</a>   
                      <a class="btn " href="/admin/banner/edit-banner/<%=bnr._id%>">Edit</a>
            
                    </div>
                  </div>
            </div>
                
                
                  <%})%>
    </div>
    

</div>




<!-- <div class="container">
<form method="post" action="admin/banner" enctype="multipart/form-data">
    <div class="row">
        <% banners.forEach(function(img){ %>
            <div class="col">
            <img width="100px" height="100px" src="public/images/admin-img/<%= img.image%>" alt=""> <br>
            <a class="confirmDeletion" href="/admin/banner/delete/<%=img._id%>">Delete</a>
        </div>
        <%})%>
    </div>
    <label for="bnr-img">banner images</label>
    <input id="bnr-img" type="file" name="banner">
    <input type="submit">
</form>

</div> -->
 

<%- include('../layouts/admin-footer.ejs') %>
