<%- include('../layouts/admin-header.ejs') %>


    <div class="dash-content ">
        <h2 class=" mt-5 h1">All Banners</h2>
        <a href="/admin/banner/add-banner"><button class="btn">Add new banner</button> </a>

        <div class="table-responsive-sm">


            <table id="example" class="table data-table align-middle" style="width:100%">
                <% success.forEach(function(msg){ %>
                    <div class="alert alert-success" role="alert">
                        <%= msg %>
                    </div>
                    <%})%>
                        <% error.forEach(function(msg){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= msg %>
                            </div>
                            <%})%>

                                <thead>
                                    <tr>
                                        <th>Banner</th>
                                        <th>Title</th>
                                        <th>Caption</th>
                                        <th>Category</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% banners.forEach(function(bnr){ %>
                                        <tr>
                                            <td>
                                                <img class=" responsive" width="200px"
                                                    src="public/images/banner-img/<%= bnr.banner%>" alt="Banner-img">
                                            </td>
                                            <td>
                                                <%= bnr.title %>
                                            </td>
                                            <td>
                                                <%= bnr.caption %>
                                            </td>
                                            <td>
                                                <%= bnr.category %>
                                            </td>

                                            <td><a href="/admin/banner/edit-banner/<%= bnr._id %>"><i
                                                        class="fa fa-pen pe-5"></i></a>
                                                <a class="confirmDeletion"
                                                    href="/admin/banner/delete-banner/<%= bnr._id %>"><i
                                                        class="fa fa-trash"></i></a>
                                            </td>

                                        </tr>
                                        <% }); %>


                                </tbody>

            </table>
        </div>

    </div>
    </section>



    <%- include('../layouts/admin-footer.ejs') %>