<%- include('../layouts/admin-header.ejs') %>

<section class="category container"> 
    <h2 class="page-title">Categories</h2>
    <br>
    
    <a href="/admin/category/add-category" ><button class="btn btn-primary">Add a new category</button> </a>

    <table id="example" class="table table-striped" style="width:100%">
        <% if(message !='' ){%>
            <p style="color: green;">
              <%= message.message %>
            </p>

            <%}%>
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(cat){ %>
            <tr>
                <td><%= cat.title %></td>
                <td><%= cat.image %></td>
                <td><a href="/admin/category/edit-category/<%= cat._id %>">Edit</a>
                <a class="confirmDeletion" href="/admin/category/delete-category/<%= cat._id %>">Delete</a></td>
            </tr>
            <% }); %>
        
        
    </tbody>
    
</table>
</section>


<%- include('../layouts/admin-footer.ejs') %>