
<%- include('../layouts/admin-header.ejs') %>


     
  
   

   

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box">
                        <i class="uil uil-users-alt"></i>                
                        <span class="text">Total Verified Users</span>
                        <span class="number"><%=user[0].count %></span>
                        
                    </div>
                    <div class="box">
                        <i class="uil uil-shopping-cart-alt"></i>
                        <span class="text">Total Orders</span>
                        <span class="number"><%= orderCount[0].orderDetails %></span>
                    </div>
                    <div class="box">
                        <i class="uil uil-box"></i>
                        <span class="text">Total Products</span>
                        <span class="number"><%= productCount %></span>
                    </div>
                    <div class="box">
                        <i class="uil uil-rupee-sign"></i>                        
                        <span class="text">Total Revenue</span>
                        <span class="number"><%= total[0].total + total[0].totalShip - total[0].totalDisc %></span>
                    </div>
                    <div class="box">
                        <i class="uil uil-percentage"></i>
                        <span class="text">Total Discount</span>
                        <span class="number"><%= total[0].totalDisc %></span>
                    </div>
                </div>
            </div>
            <div class="charts row p-5">
                <div class="col-md-6 col-sm-12 p-5">
                    <h2>Monthly Orders</h2>
                    <canvas id="myChart1" width="20" height="20" max-width="30"></canvas>

                </div>
                <div class="col-md-6 col-sm-12 p-5">
                    <h2>Category-based orders</h2>

                    <canvas id="myChart2" width="20" height="20" max-width="30"></canvas>

                </div>
              

            </div>
            <!-- <%if(recentOrders.length >0){%>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recently Placed Orders</span>
                </div>

                <div class="activity-data">
                    <table class="table table-lg m-5 align-middle table-default">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>User</th>
                                <th>Product</th>
                                <td>Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% recentOrders.forEach(function(order){%>
                            <tr>
                                <td><%= recentOrders.indexOf(order) + 1%></td>
                                <td><%=order.user.name%></td>
                                <td><img width="100px" src="/public/images/product-img/<%=order.product.image%>" alt=""> <br>
                                    <%=order.product.title%></td>
                                <td><% let date = order.date.split(" ") %>
                                    <%= date[0]+ " " + date[1] +" "+ date[2] +" "+ date[3] %></td>
                            </tr>
                    <%}) %>

                        </tbody>
                    </table> -->
                    <!-- <div class="data names">
                        <span class="data-title">User</span>
                        <span class="data-list"></span>
                        
                    </div>
                    <div class="data email">
                        <span class="data-title">Product</span>
                        <span class="data-list">
                            
                        </span>
                        
                    </div> -->

                   
                <!-- </div>
            </div>
            <%}%> -->
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
         document.addEventListener("DOMContentLoaded",chartShow,false)

         function chartShow(){

             $.ajax({
                url: '/admin/chart',
                method : 'get',
                success : (response)=>{
                  

                        makeChart1(response.orders)
                        makeChart2(response.categories)

                    
                }
             })
            } 
             function makeChart1(details){
                var xValues = details.map((item)=>{
                        return item._id[0]
                })
                 var yValues = details.map((item) => {
                     return item.count
                 })
                 const labels = xValues;
             

             const data = {
                 labels: labels,
                 datasets: [{
                     label: labels,
                     backgroundColor: ['#d60d7f','#780446','#f788c7','#4f1938'],
                     borderColor: '#000',
                     borderWidth: 2,
                     barThickness: 60,
                     data: yValues,
                 }]
             };

             const config = {
                 type: 'bar',
                 data: data,
                 options: {
                    title : {
                        display : true,
                        text : 'Total orders'

                    }
                 }
             };

             const myChart = new Chart(
                 document.getElementById('myChart1'),
                 config
             );
         }
         function makeChart2(details){
                var xValues = details.map((item)=>{
                        return item._id
                })
                 var yValues = details.map((item) => {
                     return item.count
                 })
                 const labels = xValues;
             
                 let barColors = ['#d60d7f','#780446','#f788c7','#4f1938'];
                 
             const data = { 
                 labels: labels,
                 datasets: [{
                     label: labels,
                     backgroundColor:barColors,
                     borderColor: '#000',

                     data: yValues,
                 }]
             };

             const config = {
                 type: 'doughnut',
                 data: data,
                 options: {}
             };

             const myChart = new Chart(
                 document.getElementById('myChart2'),
                 config
             );
         }
            
    </script>

    <%- include('../layouts/admin-footer.ejs') %>
