<%- include('../layouts/admin-header.ejs') %>

<div class="dash-content container add">
    <h2 class="page-title">Edit category</h2>
    <a href="/admin/category" class="btn"><i class="fa fa-angle-left"></i></a>
    <br><br>
    <div class="row">
        <form id="add-edit" method="post" action="/admin/category/edit-category/<%= id %>" enctype="multipart/form-data">
            <% error.forEach(function(err){ %>
                <div class="alert alert-success" role="alert">
                    <%= err %>
                </div>
              <%})%>
            <div class="form-group">
                <input id="title" type="text" class="box" name="title" value="<%= title %>" placeholder="Title">
            </div>
            <div class="form-group">
                <input id="image" type="file" class="box" name="image" value="<%= image %>" >
                <img  width="100px" height="100px" src="/public/images/category-img/<%=image%>" id="img-prvw" alt="">
                <input type="hidden" name="pimage" value="<%= image %>">


            </div>
            <br>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
    
</section>


<%- include('../layouts/admin-footer.ejs') %>