            
<%- include('../layouts/user-header.ejs') %>



<section class="login-form">
  
    <!-- <div class="row"> -->
        <!-- <div class="card h-100"> -->
            <h2 class="text-center">Change password</h2>
            <div class="card-body">

                <!-- <h2 class="text-center"></h2> -->
                <form id="email-form" class="h3" method="post" action="/check-email">

                    <% error.forEach(function(err){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= err %>
                        </div>
                      <%})%>

                    <% success.forEach(function(msg){ %>
                        <div class="alert alert-success" role="alert">
                            <%= msg %>
                        </div>
                    <%})%>
                    <div class="form-group">
                        <input id="email" type="email" class="box" name="email" placeholder="Enter your email">
                    </div>
                
                    
                    <br>
                    <button type="submit" class="btn btn-default">Find your account</button>
                </form>
            </div>
                <%if(account){%>
            <div class="card-body">

                <form id="otp-form" action="/verify-otp/<%=account._id%>" method="post">
                    <div class="card-body pt-5">
                        <div class="row">
                            <div class="col-3">

                                <img width="100px" class="pe-3" height="100px" src="/public/images/user-img/<%if( account.image!==''){%><%=account.image%><%}else{%>prof-img.jpg<%}%>" alt="userImg">
                            </div>
                            <div class="col-8 text-start p-5">
                                <h3>
                                    <%=account.name%>
                
                                </h3>
                                <%=account.email%>
                
                            </div>
                        </div>
                        <div class="form-group h3 pt-5">
                            <input id="otp" type="password" class="box w-100" name="otp" placeholder="Enter your OTP">
                        </div>
                        <a href="/resend-otp">resend otp</a>
                
                        <br>
                        <button type="submit" class="btn btn-default">Verify OTP</button>
                </form>
            </div>
            <% if(account.otp){ %>
            <div class="card-body">
                <form id="password" class="h3" method="post" action="/change-password/<%=account._id%>">
                
                
                
                
                
                    <div class="form-group py-4">
                        <input id="npassword" type="password" class="box" name="npassword" placeholder="New password">
                
                    </div>
                    <div class="form-group pt-4">
                        <input id="cpassword" type="password" class="box" name="cpassword" placeholder="Re-type new password">
                
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <%}%>

                <%}%>

            </div>
        <!-- </div> -->
    <!-- </div> -->

</section>

<!-- login form section ends -->











<!-- footer section starts  -->






















<%- include('../layouts/user-footer.ejs') %>




        