<%- include('../layouts/user-header') %>




<!-- home section starts      -->

<section class="home">
    <% for( let i=0 ; i < banners.length ; i++ ){ %>
        <div class="<%if(i==0){ %>
            slide active <% }else{%>
        slide
        <% } %> " style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)) ,url(/public/images/banner-img/<%=banners[i].banner%>) no-repeat;">
            <div class="content">
                <h3><%= banners[i].title %></h3>
                <span><%= banners[i].caption %></span>
                <a href="products/<%=banners[i].category%>" class="btn">shop now</a>
            </div>
        </div>
    <%}%>

    <div id="next-slide" onclick="next()" class="fas fa-angle-right"></div>
    <div id="prev-slide" onclick="prev()" class="fas fa-angle-left"></div>

</section>

<!-- home section ends     -->

<section class="week-specials">

    <h2 class="text-center">Week specials</h2>
    <div class="banner mt-5">
    <%specials.forEach(function(sp){%>
        <div class="box m-2">
            <img src="/public//images/product-img/<%=sp.image%>" alt="">
            <div class="content">
                <!-- <span>special offer</span> -->
                <h3> <%=sp.title%></h3>
                <a href="/products/product-details/<%=sp._id%>" class="btn"><i class="fas fa-eye"></i> view product</a>
            </div>
        </div>
    <%})%>
    
    </div>
</section>




<!-- banner section starts  -->
<section class="categories">

    <h2 class="text-center">Categories</h2>
    <div class="banner mt-5">
    <%categories.forEach(function(cat){%>
        <div class="box m-2">
            <img src="/public//images/category-img/<%=cat.image%>" alt="">
            <div class="content">
                <!-- <span>special offer</span> -->
                <h3> <%=cat.title%></h3>
                <a href="products/<%=cat.title%>" class="btn">shop now</a>
            </div>
        </div>
    <%})%>
    
    </div>
</section>

<!-- banner section ends -->





<%- include('../layouts/user-footer-section.ejs') %>

<%- include('../layouts/user-footer.ejs') %>
