<%- include('../layouts/user-header') %>



<section class="order-data">
    
    <h1 class="title">Order details</h1>

        

            <!-- <h2> Order No: </h2> -->
        <div class="box-container lap track-order m-5">
            <!-- <div class="table-responsive-sm"> -->
            <table  class="table align-middle" style="width:100%">
                <thead class="box">
                    <th>Item</th>
                    <th>Weight</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </thead>
                
                <tbody>
                    
                    <% order.orderDetails.forEach(function(o){%>
                    <tr class="box">
                            <td>
                    
                    
                                <%= o.product.title%> <br>
                                    <img width="100px" height="100px" src="/public/images/product-img/<%= o.product.image%>" alt=""> <br>
                                    <a href="/products/product-details/<%= o.product._id%>" class="btn"> View Product</a>
                            </td>
                    
                            <td>
                                <%= o.weight%> Kg
                            </td>
                            <td>₹<%=o.price%>
                            </td>
                            <td>
                                <%= o.quantity%>
                            </td>
                            <td>₹<%= o.sub_total%>
                            </td>
                    </tr>
        
                                        <%})%>
                                            
                       
                </tbody>
            </table>
            
            
        <!-- </div> -->

        
            
        <% if(order.status !== 'cancelled'){%>}
        <div class="card text-center">
            <div class="tracking">
                <div class="track-title text-center">Tracking Order</div>
            </div>
            <div class="progress-track text-center">

                <div class="bar">
                    <%if(order.status == 'placed'){%>
                    <div class="color" style="width: 1.5%;">

                    </div>
                    <%}else if(order.status == 'shipped'){%>
                        <div class="color" style="width: 50%;">

                        </div>
                        <%}else if(order.status == 'delivered'){%>
                            <div class="color" style="width: 100%;">

                            </div>

                            <%}%>

                </div>
                <div class="m-auto">
                    <ul id="progressbar" class="">
                        <li class="placed">Placed</li>
                        <li class="shipped">Shipped</li>
                        <li >Delivered</li>
                    </ul>

                </div>
            </div>
        </div>
        <%}%>
        </div>


        <div class="box-container mob">

            <div class="box row d-flex flex-row justify-content-between m-auto text-center">
                <% order.orderDetails.forEach(function(d){%>
                    <div class="col text-center m-auto">

                        <img width="80px" height="80px" src="/public/images/product-img/<%=d.product.image%>" alt="">
                        <div class="content">
                            <h5 class="">
                               <%=d.product.title%>
                            </h5>
                            
                            <div id="qty" class="qty">
                                <h3>Qty: <%=d.quantity%></h3>
                                
                            </div>
                            <div class="price">₹ <span id="amtOf<%=d.product._id%>">
                                    <%= d.price %>.00
                                </span></div>
                        </div>
                    </div>
                <%})%>
                <%if(order.status=='placed'){%>
                    <h2 class="pt-3"><%=order.status%></h2>

                        <%}else if (order.status=='cancelled'){%>
                    <h2 class="pt-3 text-danger"><%=order.status%></h2>
                    <%}else{%>
                        <h2 class="pt-3 text-success"><%=order.status%></h2>

                        <%}%>
                    <%if(order.status=='pending'){%>
                        <!-- <a href="/cart/place-order/<%= order._id%>">try again</a> -->
                        <%}%>                
                        
                <a href="/orders/order-details/<%= order._id%>"><button class="btn">View Details</button></a> <br>

                <% if(order.status == 'placed' || order.status == 'pending' ) {%>
               <button onclick="cancelOrder('<%=order._id%>')" class="btn m-auto mt-3 w-50">Cancel Order</button>
                    <%} else{%>
                        <% if(order.status == 'cancelled') {%>
                <button class="btn btn-light"> Order cancelled</button>

                            <%}%>
                
                        <%}%>
            </div>
            <div class="card text-center">
                <div class="tracking">
                    <div class="track-title text-center">Tracking Order</div>
                </div>
                <div class="progress-track text-center">
                    <div class="bar">
                        <%if(order.status == 'placed'){%>
                        <div class="color" style="width: 1.5%;">
    
                        </div>
                        <%}else if(order.status == 'shipped'){%>
                            <div class="color" style="width: 50%;">
    
                            </div>
                            <%}else if(order.status == 'delivered'){%>
                                <div class="color" style="width: 100%;">
    
                                </div>
    
                                <%}%>
    
                    </div>
                    <div class="m-auto">
                        <ul id="progressbar" class="">
                            <li class="placed">Placed</li>
                            <li class="shipped">Shipped</li>
                            <li >Delivered</li>
                        </ul>
    
                    </div>
                </div>
            </div>

        </div>

        <h2 class="text-center">INVOICE</h2>
        <div class="box-container invoice p-3 border border-1 border-dark mt-4">
            <div class="order-details">

            <table class="h3">
                <tbody class="">
                    <tr>
                        <th>
                            Status
                        </th>
                        <td>:</td>
                        
                             <%if(order.status=='placed'){%>
                    <td ><%=order.status%></td>

                        <%}else if (order.status=='cancelled'){%>
                    <td class="text-danger"><%=order.status%></td>
                    <%}else{%>
                        <td class="text-success"><%=order.status%></td>

                        <%}%>
                        
                    </tr>
                    <tr>
                        <th>
                            Ordered on
                        </th>
                        <td>:</td>
                        <td><%  date = order.date.split(" ") %>
                            <%= date[0]+ " " + date[1] +" "+ date[2] +" "+ date[3] %></td>
                    </tr>
                    <tr>
                        <th>
                    <%if(order.status == 'delivered'){%>
                        Delivered on
                        <%}else{%>
                            
                            Delivery on
                            <%}%>
                        </th>
                        <td>:</td>
                        <td><% let d_date = order.deliveryDate.split(" ") %>
                            <%= d_date[0]+ " " + d_date[1] +" "+ d_date[2] +" "+ d_date[3] %></td>
                    </tr>
                </tbody>
            </table>
            <table class="h3">
                <tbody>
                    <tr>
                        <th>
                            Discount
                        </th>
                        <td>:</td>
                        <td><%=order.discount%>.00</td>
                    </tr>
                    <tr>
                        <th>
                            Shipping
                        </th>
                        <td>:</td>
                        <td><%=order.shipping%>.00</td>
                    </tr>
                    <tr>
                        <th>
                            Total
                        </th>
                        <td>:</td>
                        <td><%= order.total + order.shipping - order.discount %>.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
           
        </div>




          
          

         
</section>




    <%- include('../layouts/user-footer.ejs') %>